<a href="https://colab.research.google.com/github/gadichandu3-prog/inership_datadrame-_import/blob/main/importData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("importing data into dataframe")

importing data into dataframe

In [11]:
import pandas as pd
details = ({"name":["kumar","ashok","mural","krishna","swamy"],"age":[20,17,18,19,20],"marks":[20,40,25,60,45]})
df = pd.DataFrame(details)
print(df)

      name  age  marks
0    kumar   20     20
1    ashok   17     40
2    mural   18     25
3  krishna   19     60
4    swamy   20     45

In [12]:
print(df[df["marks"] > 30])

      name  age  marks
1    ashok   17     40
3  krishna   19     60
4    swamy   20     45