<a href="https://colab.research.google.com/github/gadichandu3-prog/inership_datadrame-_import/blob/main/intership_class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("importing data into dataframe")

importing data into dataframe

In [11]:
import pandas as pd
details = ({"name":["kumar","ashok","mural","krishna","swamy"],"age":[20,17,18,19,20],"marks":[20,40,25,60,45]})
df = pd.DataFrame(details)
print(df)

      name  age  marks
0    kumar   20     20
1    ashok   17     40
2    mural   18     25
3  krishna   19     60
4    swamy   20     45

In [12]:
print(df[df["marks"] > 30])

      name  age  marks
1    ashok   17     40
3  krishna   19     60
4    swamy   20     45

importing data into Excel sheet

In [29]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({
    "Name": ["Kumar", "Ashok"],
    "Age": [20, 17]
})

df2 = pd.DataFrame({
    "Name": ["Mural", "Krishna"],
    "Age": [18, 19]
})

# Concatenate vertically (stack rows)
df_concat = pd.concat([df1, df2])

print(df_concat)

      Name  Age
0    Kumar   20
1    Ashok   17
0    Mural   18
1  Krishna   19

MinMax

In [30]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    "Name": ["Kumar", "Ashok", "Mural", "Krishna", "Swamy"],
    "Marks": [20, 40, 25, 60, 45],
    "Age": [20, 17, 18, 19, 20]
})

# Minimum marks
min_marks = df["Marks"].min()
print("Minimum Marks:", min_marks)

# Maximum marks
max_marks = df["Marks"].max()
print("Maximum Marks:", max_marks)

Minimum Marks: 20
Maximum Marks: 60

In [31]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({
    "ID": [1, 2, 3],
    "Name": ["Kumar", "Ashok", "Mural"]
})

df2 = pd.DataFrame({
    "ID": [1, 2, 4],
    "Marks": [50, 60, 70]
})

# Merge on ID (inner join by default)
df_merged = pd.merge(df1, df2, on="ID")
print(df_merged)

   ID   Name  Marks
0   1  Kumar     50
1   2  Ashok     60

In [32]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    "Name": ["Kumar", "Ashok", "Mural", "Kumar"],
    "Gender": ["Male", "Male", "Male", "Male"],
    "Dept": ["A", "B", "A", "C"]
})

# Encode Dept column (Label Encoding)
df["Dept_encoded"] = df["Dept"].map({"A": 1, "B": 2, "C": 3})
print(df)

    Name Gender Dept  Dept_encoded
0  Kumar   Male    A             1
1  Ashok   Male    B             2
2  Mural   Male    A             1
3  Kumar   Male    C             3

In [33]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    "Name": ["Kumar", "Ashok", "Mural", "Swamy"],
    "Experience_Level": ["Junior", "Senior", "Mid", "Junior"]
})

# Define ordinal mapping
level_mapping = {"Junior": 1, "Mid": 2, "Senior": 3}

# Apply mapping
df["Experience_Level_encoded"] = df["Experience_Level"].map(level_mapping)

print(df)

    Name Experience_Level  Experience_Level_encoded
0  Kumar           Junior                         1
1  Ashok           Senior                         3
2  Mural              Mid                         2
3  Swamy           Junior                         1

In [34]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    "Dept": ["A", "B", "A", "C", "B", "A", "C"]
})

# Calculate frequency of each category
freq_encoding = df["Dept"].value_counts() / len(df)

# Map frequency to the column
df["Dept_freq_encoded"] = df["Dept"].map(freq_encoding)

print(df)

  Dept  Dept_freq_encoded
0    A           0.428571
1    B           0.285714
2    A           0.428571
3    C           0.285714
4    B           0.285714
5    A           0.428571
6    C           0.285714