In [ ]:
print("importing data into dataframe")

importing data into dataframe

In [ ]:
import pandas as pd
details = ({"name":["kumar","ashok","mural","krishna","swamy"],"age":[20,17,18,19,20],"marks":[20,40,25,60,45]})
df = pd.DataFrame(details)
print(df)

      name  age  marks
0    kumar   20     20
1    ashok   17     40
2    mural   18     25
3  krishna   19     60
4    swamy   20     45